.lecturesModernBayes/
*.DStore
.RData
*.Rhistory
*.Rapp.history
*.Rroject.user/
.homeworks18/
.exams18/
.labs/
*.aux
*.bbl
*.log
*.out
deprecated/
deprecated/lecturesModernBayes18/lecture-1/deprecated/intro-to-Bayes-02_files/mathjax-23/images/CloseX-31.png
deprecated/lecturesModernBayes18/lecture-1/deprecated/intro-to-Bayes-02_files/mathjax-23/images/MenuArrow-15.png
